.container{
    margin: 50px auto;
    width: 40%;
}

.form-label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-left: 20px;
}

span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-left: 10px;
    padding: 5px;
}

